
*{
	margin: 0px;
	padding: 0px;
	list-style: none;
	text-decoration: none;
}
.sidebar{
	position: fixed;
	left: -250px;
	width: 250px;
	height: 100%;
	background-color: #042331;
}
.sidebar header{
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 70px;
	background-color: #063246;
	user-select: none;
	transition: all.5s case;

}
.sidebar ul a{
	display: block;
	height: 100%;
	width: 100%;
	line-height: 65px;
	font-size: 20px;
	color: white;
	padding-left: 40px;
	box-sizing: border-box;
	border-top: 1px solid rgba(255, 255, 255, .1);
	border-bottom: 1px solid black;
	transition: .4s;


}
.sidebar ul li:hover a{
	padding-left: 50px;
}
.sidebar ul a i{
	margin-left: 16px;
}
#check{
	display: none;
}
label #btn, label #cancel{
	position: absolute;
	cursor: pointer;
	background-color: #042331;
	border-radius: 3px;
}
label #btn
{
	left: 40px;
	top: 25px;
	font-size: 35px;
	color: red;
	color: white;
	padding: 6px 12px;
	transition: all.5s;
}
label #cancel{
	z-index: 1111;
	left: -195px;
	top: 17px;
	font-size: 30px;
	color: white;
	padding: 4px 9px;
	transition: all.5s ease;
}
#check:checked ~.sidebar{
	left: 0;
}
#check:checked ~ label #btn{

	left: 250px;
	opacity: 0;
	pointer-events: none;
}
#check:checked ~ label #cancel{

	left: 195px;
	
} 
section
{
	background-image: url(C:/Users/Acer/Downloads/t2.jpg) ;
	background-position: center;
	background-size: cover;
	height: 100vh;
}
.btn{
	background-color: green;
	color: white;
	padding: 16px;
	font-size: 25px;
	border: none;
	cursor: pointer;
}
.dropdown{
	position:relative ;
    top: 0px;
    left: 300px;
  }
 .dropcontent{
 	position: absolute;
 	display: none;
 	font-size: 23px;
 	background-color: red;
 	min-width: 155px;
 	box-shadow: 5px 8px 15px rgba(0, 0, 0, 1.0);
 }
 .dropcontent a{
 	color: black;
 	padding:12px 16px ;
 	text-decoration: none;
 	display: block;
 }
 .dropcontent a:hover{
 	background-color: white;
 	color: green;

 }
 .dropdown:hover .dropcontent{
 	display: block;
 }
 .dropdown:hover .btn{
 	background-color: hotpink;
 }
 .img{
 	padding-top: 0px;
 	margin-right: 200px; }

















 	